name: Backend CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Install dependencies
        run: |
          go mod tidy
        working-directory: ./starttech-application/backend

      - name: Run tests
        run: |
          go test ./...
        working-directory: ./starttech-application/backend

      - name: Build project
        run: |
          go build -o app
        working-directory: ./starttech-application/backend
